<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/bimserverjar/src/org/bimserver/LocalDevBimServerStarter.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.bimserver.LocalDevBimServerStarter"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="bimserverjar"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-plugins &quot;C:\Users\user\Desktop\Eclipse-workspace\BIMserverMaster\bimvie.ws&quot;&#13;&#10;-plugins &quot;C:\Users\user\Desktop\Eclipse-workspace\BIMserverMaster\BIMsurfer-before2019&quot;&#13;&#10;-plugins &quot;C:\Users\user\Desktop\Eclipse-workspace\BIMserverMaster\BIMserver-JavaScript-API&quot;&#13;&#10;-plugins &quot;C:\Users\user\Desktop\Eclipse-workspace\BIMserverMaster\BinarySerializers\BinarySerializers&quot;&#13;&#10;-plugins &quot;C:\Users\user\Desktop\Eclipse-workspace\BIMserverMaster\IfcOpenShell-BIMserver-plugin&quot;&#13;&#10;-plugins &quot;C:\Users\user\Desktop\Eclipse-workspace\BIMserverMaster\IfcValidator&quot;&#13;&#10;-plugins &quot;C:\Users\user\Desktop\Eclipse-workspace\BIMserverMaster\IfcPlugins\IfcPlugins&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bimserverjar"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
